### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [175]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [210]:
df1 = df.set_index('SN')
lisim78 = df1.loc['Lisim78', 'Item ID']
lisim78.head()
df1

SN
Lisim78    108
Lisim78    138
Lisim78     85
Name: Item ID, dtype: int64

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56
Ithergue48,2,24,Male,92,Final Critic,4.88
Chamassasya86,3,24,Male,100,Blindscythe,3.27
Iskosia90,4,23,Male,131,Fury,1.44
Yalae81,5,22,Male,81,Dreamkiss,3.61
Itheria73,6,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
Iskjaskst81,7,20,Male,162,Abyssal Shard,2.67
Undjask33,8,22,Male,21,Souleater,1.10
Chanosian48,9,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
Inguron55,10,23,Male,95,Singed Onyx Warscythe,4.74
Haisrisuir60,11,23,Male,162,Abyssal Shard,2.67
Saelaephos52,12,21,Male,116,Renewed Skeletal Katana,4.18
Assjaskan73,13,22,Male,4,Bloodlord's Fetish,1.70
Saesrideu94,14,35,Male,165,Bone Crushing Silver Skewer,4.86
Lisassa64,15,21,Female,98,"Deadline, Voice Of Subtlety",2.89
Lisirra25,16,20,Male,40,Second Chance,2.52
Zontibe81,17,21,Male,161,Devine,1.76
Reunasu60,18,22,Female,82,Nirvana,4.90
Chamalo71,19,30,Male,89,"Blazefury, Protector of Delusions",4.64
Iathenudil29,20,20,Male,57,"Despair, Favor of Due Diligence",4.60
Phiarithdeu40,21,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
Siarithria38,22,38,Other / Non-Disclosed,24,Warped Fetish,3.81
Eyrian71,23,40,Male,151,Severance,3.40
Siala43,24,30,Male,141,Persuasion,3.19
Lisirra87,25,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
Lirtossa84,26,11,Male,71,Demise,1.61
Eusri44,27,7,Male,96,Blood-Forged Skeletal Spine,3.09
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
Tyida79,29,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...
Iljask75,750,22,Male,167,"Malice, Legacy of the Queen",3.61
Lisjaskan36,751,11,Male,180,Stormcaller,3.36
Mindjasksya61,752,17,Male,112,Worldbreaker,2.60
Frichirranya75,753,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
Pheosurllorin41,754,23,Female,79,"Alpha, Oath of Zeal",4.05
Raesty92,755,12,Male,76,Haunted Bronzed Bludgeon,3.15
Ilast79,756,20,Male,73,Ritual Mace,2.05
Eratiel90,757,18,Male,57,"Despair, Favor of Due Diligence",4.60
Iral74,758,21,Male,182,Toothpick,4.03
Tyaelorap29,759,25,Male,72,Winter's Bite,3.77
Aithelis62,760,21,Male,44,Bonecarvin Battle Axe,2.38
Assim27,761,45,Male,17,"Lazarus, Terror of the Earth",1.70
Asur53,762,26,Male,110,Suspension,1.44
Lassilsala30,763,21,Male,85,Malificent Bag,1.75
Saedaiphos46,764,18,Male,113,Solitude's Reaver,4.07
Irith83,765,18,Male,130,Alpha,2.07
Aelastirin39,766,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
Ilmol66,767,8,Female,92,Final Critic,4.88
Assassasta79,768,38,Male,92,Final Critic,4.88
Ilosian36,769,15,Male,145,Fiery Glass Crusader,4.58
Lirtosia63,770,34,Male,12,Dawne,1.02
Iskossasda43,771,16,Male,25,Hero Cane,4.35
Asur53,772,26,Male,136,Ghastly Adamantite Protector,3.58
Hala31,773,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
Jiskjask80,774,11,Male,101,Final Critic,4.19
Aethedru70,775,21,Female,60,Wolf,3.54
Iral74,776,21,Male,164,Exiled Doomblade,1.63
Yathecal72,777,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
Sisur91,778,7,Male,101,Final Critic,4.19
Ennrian78,779,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [212]:
players_list = df1.iloc[:,1]
players_list.cou

780

In [173]:
number_players = s.value_counts().count()
number_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [147]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [163]:
u_items = df['Item Name'].count().sun
u_avg = df['Price'].mean()

u_items
u_avg

df1 = pd.DataFrame

780

3.050987179487176

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [167]:
p_m = df.groupby('Gender')
p_m.sum()

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60978  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80