# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [31]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [32]:
school_data_no_duplicated_schools = school_data_complete.drop_duplicates(subset ="school_name", 
                     keep = 'first', inplace = True)
#total number of schools
total_schools = school_data_complete['school_name'].count()
total_students = df['student_name'].count()
total_budget = school_data_complete['budget'].sum()
avg_math = round(df['math_score'].mean(), 6)
avg_reading = round(df['reading_score'].mean(),5)
passing_rate = (avg_math + avg_reading) / 2
passing_math = df[df['math_score']>= 70].count() / df['math_score'].count() * 100

passing_reading = df[df['reading_score']>= 70].count() / df['reading_score'].count() * 100

In [33]:
district_summary = pd.DataFrame({'Total Schools':total_schools,'Total Students':total_students,'Total Budget':total_budget,
                                 'Average Math Score':avg_math,'Average Reading Score':avg_reading,'% Passing Math': passing_math['grade'],
                                '% Passing Reading':passing_reading['grade'], '% Overall Passing Rate':passing_rate},index=[0])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [6]:
aa = df.set_index('school_name')
aa['student_name'].count()
aa
bb = aa[(aa['math_score'] > 70)]
bb['math_score'].count() / aa['student_name'].count()

39170

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
Huang High School,5,Bryan Miranda,M,9th,94,94,0,District,2917,1910635
Huang High School,6,Sheena Carter,F,11th,82,80,0,District,2917,1910635
Huang High School,7,Nicole Baker,F,12th,96,69,0,District,2917,1910635
Huang High School,8,Michael Roth,M,10th,95,87,0,District,2917,1910635
Huang High School,9,Matthew Greene,M,10th,96,84,0,District,2917,1910635
Huang High School,10,Andrew Alexander,M,10th,90,70,0,District,2917,1910635
Huang High School,11,Daniel Cooper,M,10th,78,77,0,District,2917,1910635
Huang High School,12,Brittney Walker,F,9th,64,79,0,District,2917,1910635
Huang High School,13,William Long,M,9th,71,79,0,District,2917,1910635
Huang High School,14,Tammy Hebert,F,10th,85,67,0,District,2917,1910635
Huang High School,15,Dr. Jordan Carson,M,11th,94,88,0,District,2917,1910635
Huang High School,16,Donald Zamora,M,9th,88,55,0,District,2917,1910635
Huang High School,17,Kimberly Santiago,F,9th,74,75,0,District,2917,1910635
Huang High School,18,Kevin Stevens,M,9th,64,69,0,District,2917,1910635
Huang High School,19,Brandi Lyons,F,9th,89,80,0,District,2917,1910635
Huang High School,20,Lisa Davis,F,10th,91,89,0,District,2917,1910635
Huang High School,21,Kristen Lopez,F,10th,90,77,0,District,2917,1910635
Huang High School,22,Kimberly Stewart,F,11th,99,84,0,District,2917,1910635
Huang High School,23,Christopher Parker,M,9th,81,68,0,District,2917,1910635
Huang High School,24,Chelsea Griffith,F,11th,85,73,0,District,2917,1910635
Huang High School,25,Cesar Morris,M,9th,92,70,0,District,2917,1910635
Huang High School,26,Melanie Decker,F,9th,63,85,0,District,2917,1910635
Huang High School,27,Tracey Oconnor,F,10th,80,58,0,District,2917,1910635
Huang High School,28,Kelly James,F,11th,73,55,0,District,2917,1910635
Huang High School,29,Nicole Brown,F,12th,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39140,Cheyenne Hernandez,F,9th,76,99,14,Charter,1635,1043130
Thomas High School,39141,Jonathan Sullivan,M,10th,86,93,14,Charter,1635,1043130
Thomas High School,39142,Deborah Higgins DDS,F,10th,96,83,14,Charter,1635,1043130
Thomas High School,39143,Steven Jackson,M,11th,71,93,14,Charter,1635,1043130
Thomas High School,39144,Cristian Webster,M,12th,77,87,14,Charter,1635,1043130
Thomas High School,39145,Audrey Fry,F,10th,94,74,14,Charter,1635,1043130
Thomas High School,39146,Michael Carroll,M,9th,69,95,14,Charter,1635,1043130
Thomas High School,39147,Raymond Hawkins,M,10th,88,81,14,Charter,1635,1043130
Thomas High School,39148,Christopher Wilson,M,10th,89,89,14,Charter,1635,1043130
Thomas High School,39149,Glenda Fletcher,F,11th,82,93,14,Charter,1635,1043130
Thomas High School,39150,Jennifer Hamilton,F,11th,80,75,14,Charter,1635,1043130
Thomas High School,39151,Shannon Williams,F,10th,84,73,14,Charter,1635,1043130
Thomas High School,39152,Lori Moore,F,9th,98,84,14,Charter,1635,1043130
Thomas High School,39153,William Hubbard,M,9th,80,75,14,Charter,1635,1043130
Thomas High School,39154,Bradley Johnson,M,12th,91,71,14,Charter,1635,1043130
Thomas High School,39155,John Brooks,M,10th,92,98,14,Charter,1635,1043130
Thomas High School,39156,Stephanie Contreras,F,11th,79,95,14,Charter,1635,1043130
Thomas High School,39157,Kristen Gonzalez,F,9th,79,94,14,Charter,1635,1043130
Thomas High School,39158,Kari Holloway,F,10th,87,90,14,Charter,1635,1043130
Thomas High School,39159,Kimberly Cabrera,F,11th,85,72,14,Charter,1635,1043130
Thomas High School,39160,Katie Weaver,F,11th,89,86,14,Charter,1635,1043130
Thomas High School,39161,April Reyes,F,10th,70,84,14,Charter,1635,1043130
Thomas High School,39162,Derek Weeks,M,12th,94,77,14,Charter,1635,1043130
Thomas High School,39163,John Reese,M,11th,90,75,14,Charter,1635,1043130
Thomas High School,39164,Joseph Anthony,M,9th,97,76,14,Charter,1635,1043130
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

0.7239213683941792

In [44]:

school_name = df['school_name'].unique()

KeyError: "None of [Index(['Distict'], dtype='object')] are in the [index]"

In [34]:
school_name = df.groupby(['school_name'], sort=True)
total_students = school_name['student_name'].count()

school_name.count()
# reading_score = school_name['reading_score'].mean()
# math_score = school_name['math_score'].mean()
# pp = school_name.sum()
# pass_math = pp[(pp['math_score'] > 70)]
# pass_math['math_score']

# top_schools = pd.DataFrame({'':school_name}, index=school_name)
# top_schools

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [16]:
school_names = pd.DataFrame({'':df['school_name'],'Overall':overall})
 

school_names.set_index('')

                                                              Overall

Huang High School   0        72.5
1        63.5
2        63.0
3   ...
Huang High School   0        86.5
1        77.5
2        77.0
3   ...
Huang High School   0        84.5
1        75.5
2        75.0
3   ...
Huang High School   0        73.0
1        64.0
2        63.5
3   ...
Huang High School   0        88.0
1        79.0
2        78.5
3   ...
Huang High School   0        86.5
1        77.5
2        77.0
3   ...
Huang High School   0        80.5
1        71.5
2        71.0
3   ...
Huang High School   0        87.5
1        78.5
2        78.0
3   ...
Huang High School   0        87.0
1        78.0
2        77.5
3   ...
Huang High School   0        87.5
1        78.5
2        78.0
3   ...
Huang High School   0        84.5
1        75.5
2        75.0
3   ...
Huang High School   0        78.5
1        69.5
2        69.0
3   ...
Huang High School   0        71.5
1        62.5
2        62.0
3   ...
Huang High School   0        75.0
1        66.0
2        65.5
3   ...
Huang High School   0        82.0
1        73.0
2        72.5
3   ...
Huang High School   0        86.5
1        77.5
2        77.0
3   ...
Huang High School   0        83.5
1        74.5
2        74.0
3   ...
Huang High School   0        76.5
1        67.5
2        67.0
3   ...
Huang High School   0        71.5
1        62.5
2        62.0
3   ...
Huang High School   0        84.0
1        75.0
2        74.5
3   ...
Huang High School   0        85.0
1        76.0
2        75.5
3   ...
Huang High School   0        84.5
1        75.5
2        75.0
3   ...
Huang High School   0        89.0
1        80.0
2        79.5
3   ...
Huang High School   0        80.0
1        71.0
2        70.5
3   ...
Huang High School   0        82.0
1        73.0
2        72.5
3   ...
Huang High School   0        85.5
1        76.5
2        76.0
3   ...
Huang High School   0        71.0
1        62.0
2        61.5
3   ...
Huang High School   0        79.5
1        70.5
2        70.0
3   ...
Huang High School   0        76.0
1        67.0
2        66.5
3   ...
Huang High School   0        84.5
1        75.5
2        75.0
3   ...
...                                                               ...
Thomas High School  0        77.5
1        68.5
2        68.0
3   ...
Thomas High School  0        82.5
1        73.5
2        73.0
3   ...
Thomas High School  0        87.5
1        78.5
2        78.0
3   ...
Thomas High School  0        75.0
1        66.0
2        65.5
3   ...
Thomas High School  0        78.0
1        69.0
2        68.5
3   ...
Thomas High School  0        86.5
1        77.5
2        77.0
3   ...
Thomas High School  0        74.0
1        65.0
2        64.5
3   ...
Thomas High School  0        83.5
1        74.5
2        74.0
3   ...
Thomas High School  0        84.0
1        75.0
2        74.5
3   ...
Thomas High School  0        80.5
1        71.5
2        71.0
3   ...
Thomas High School  0        79.5
1        70.5
2        70.0
3   ...
Thomas High School  0        81.5
1        72.5
2        72.0
3   ...
Thomas High School  0        88.5
1        79.5
2        79.0
3   ...
Thomas High School  0        79.5
1        70.5
2        70.0
3   ...
Thomas High School  0        85.0
1        76.0
2        75.5
3   ...
Thomas High School  0        85.5
1        76.5
2        76.0
3   ...
Thomas High School  0        79.0
1        70.0
2        69.5
3   ...
Thomas High School  0        79.0
1        70.0
2        69.5
3   ...
Thomas High School  0        83.0
1        74.0
2        73.5
3   ...
Thomas High School  0        82.0
1        73.0
2        72.5
3   ...
Thomas High School  0        84.0
1        75.0
2        74.5
3   ...
Thomas High School  0        74.5
1        65.5
2        65.0
3   ...
Thomas High School  0        86.5
1        77.5
2        77.0
3   ...
Thomas High School  0        84.5
1        75.5
2        75.0
3   ...
Thomas High School  0        88.0
1        79.0
2        78.5
3   ...
Thomas High School  0        89.0
1        80.0
2        79.5
3   ...
Thomas High School  0        87.0
1        78.0
2        77.5
3   ...
Thomas High School  0        76.0
1        67.0
2        66.5
3   ...
Thomas High School  0        89.0
1        80.0
2        79.5
3   ...
Thomas High School  0        87.0
1        78.0
2        77.5
3   ...

[39170 rows x 1 columns]

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [6]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [7]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.