In [1]:
%matplotlib notebook

In [2]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
# Load in csv
df = pd.read_csv('avg_rain_state.csv')
df.head()

        State  Inches  Milli­metres  Rank
0     Alabama    58.3          1480     4
1      Alaska    22.5           572    39
2     Arizona    13.6           345    47
3    Arkansas    50.6          1284     8
4  California    22.2           563    40

In [6]:
# Set x axis and tick locations

x_axis = df['State']

In [ ]:
# Create a list indicating where to write x labels and set figure size to adjust for space

In [ ]:
# Set x and y limits

In [ ]:
# Set a Title and labels

In [ ]:
# Save our graph and show the grap