In [42]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd

# import api_key from config file
from config import api_key

In [43]:
# Create a settings object with your API key and preferred units
settings = {"units": "metric", "appid": api_key}

In [3]:
# Get data for each city in cities.csv
weather_data = []
with open("../Resources/cities.csv") as cities_file:
    cities_reader = csv.reader(cities_file)
    cities = [city[0] for city in cities_reader]
    weather_data = [ow.get_current(city, **settings) for city in cities]

In [4]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city
summary = ["main.temp", "coord.lat", "coord.lon"]

# Create a Pandas DataFrame with the results
data = [response(*summary) for response in weather_data]

weather_data = pd.DataFrame(data, index=cities)
weather_data

                 0      1       2
Paris         6.37  48.86    2.35
London        5.53  51.51   -0.13
Oslo         -3.00  59.91   10.74
Beijing       9.00  39.91  116.39
Moscow       -3.50  55.75   37.62
Vladivostok   1.00  43.12  131.89
Osaka         7.00  34.70  135.50
Honolulu     26.75  21.30 -157.86
Montevideo    0.55  44.94  -95.72
Erbil        15.00  36.19   44.01

In [5]:
# BONUS:
column_names = ["Temperature", "Latitude", "Longitude"]
weather_data = pd.DataFrame(data, index=cities, columns=column_names)
weather_data

             Temperature  Latitude  Longitude
Paris               6.37     48.86       2.35
London              5.53     51.51      -0.13
Oslo               -3.00     59.91      10.74
Beijing             9.00     39.91     116.39
Moscow             -3.50     55.75      37.62
Vladivostok         1.00     43.12     131.89
Osaka               7.00     34.70     135.50
Honolulu           26.75     21.30    -157.86
Montevideo          0.55     44.94     -95.72
Erbil              15.00     36.19      44.01