In [1]:
# import dependencies
import pandas as pd

In [7]:
# Create a data frame with given columns and value
hey_arnold = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

hey_arnold

  Character_in_show color_of_hair   Height  Football_Shaped_Head
0            Arnold        blonde  average                  True
1            Gerald         black  tallish                 False
2             Helga        blonde  tallish                 False
3            Phoebe         black    short                 False
4            Harold       unknown     tall                 False
5            Eugene           red    short                 False

In [16]:
# Rename columns to clean up the look
changed_names = hey_arnold.rename(columns={"Character_in_show": "Characters", 
                                           "color_of_hair":"Color", 
                                           "Football_Shaped_Head":"Shape"})
changed_names

  Characters    Color   Height  Shape
0     Arnold   blonde  average   True
1     Gerald    black  tallish  False
2      Helga   blonde  tallish  False
3     Phoebe    black    short  False
4     Harold  unknown     tall  False
5     Eugene      red    short  False

In [40]:
# Organize columns into a more logical order
org = sorted(changed_names.columns)
org
d = changed_names[org]
d

  Characters    Color   Height  Shape
0     Arnold   blonde  average   True
1     Gerald    black  tallish  False
2      Helga   blonde  tallish  False
3     Phoebe    black    short  False
4     Harold  unknown     tall  False
5     Eugene      red    short  False